.card {
  &-poster {
    position: relative;
    height: 0;
    background-color: $primary-light;
    padding-top: 150%;
    overflow: hidden;

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }

    &-img {
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-width: none;
      transition: transform 150ms ease-out;

      &:hover {
        transform-origin: center;
        transform: scale(1.05);
        transition: transform 150ms ease-out;
      }
    }
  }

  &-meta {
    margin-top: 1rem;
    padding-left: 0.3rem;
    height: 50px;
  }

  &-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-line {
    line-height: 1.6;

    &-one {
      color: $text-primary;
    }

    &-two {
      color: $text-secondary;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      span {
        margin-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
