@import "../base/variables";

.footer {
  padding: 2.6rem;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-laptop-m) {
    padding: 3.6rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &-copy {
    order: 2;
    margin-top: 0.8rem;

    @media (min-width: $breakpoint-laptop-m) {
      margin-right: 2.6rem;
      margin-top: 0;
      order: 1;
    }

    &-text {
      color: $text-secondary;
      font-size: 1.5rem;

      a {
        text-decoration: underline;
      }
    }
  }

  &-logo {
    order: 1;

    &-img {
      height: 5rem;
    }

    @media (min-width: $breakpoint-laptop-m) {
      order: 2;
    }
  }
}
