@import "../base/variables";

.hamburger {
  background-color: $primary-light;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 2rem;
  z-index: 1000;

  &-nav {
    &-list {
    }

    &-item {
      text-align: center;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: unset;
      }
    }

    &-link {
      display: block;
      padding: 1rem 0;
      font-size: 1.6rem;
      color: $text-secondary;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 300;
      // background-color: green;
    }
  }
}
