@import "../base/variables";

.hero-information {
  padding: 2.6rem;

  @media (min-width: $breakpoint-laptop-m) {
    padding: 0 3.6rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 55%;
    z-index: 2000;
    display: flex;
    align-items: center;
  }

  &-head {
    margin-bottom: 1.8rem;
  }

  &-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.8rem;
  }

  &-rating {
    margin-right: 2rem;
  }

  &-span {
    color: $text-secondary;
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 2rem;
  }

  &-overview {
    display: none;

    @media (min-width: $breakpoint-mobile-l) {
      display: block;
      margin-top: 1.6rem;
    }

    @media (min-width: $breakpoint-laptop-l) {
      width: 90%;
    }
  }
}
