@import "../base/variables";

.hero {
  display: flex;
  flex-direction: column;
  background-color: $primary-dark;

  @media (min-width: $breakpoint-laptop-m) {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 45%;
  }

  @media (min-width: $breakpoint-laptop-l) {
    padding-bottom: 40%;
  }
}
