@import "../base/variables";

.hero-backdrop {
  position: relative;
  height: 30rem;
  background-color: inherit;

  @media (min-width: $breakpoint-mobile-l) {
    height: 35rem;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 40rem;
  }

  @media (min-width: $breakpoint-laptop-m) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 75%;
  }

  &-img {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 60%;
    z-index: 1000;
    background: linear-gradient(0deg, $primary-dark 0%, transparent 100%);

    @media (min-width: $breakpoint-laptop-m) {
      top: 0;
      bottom: 0;
      left: -1px;
      right: unset;
      height: 100%;
      width: 90%;
      background: linear-gradient(90deg, $primary-dark 0%, transparent 100%);
    }
  }
}
