@import "../base/variables";

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  svg {
    height: 3.2rem;
    width: 3.2rem;

    path {
      fill: $primary-medium;
    }
  }
}
