@import "../base/variables";

.poster {
  display: none;

  @media (min-width: $breakpoint-laptop-m) {
    display: block;
    width: 25%;
    flex-shrink: 0;
    margin-right: 3.6rem;
    max-width: 260px;
  }

  &-aspect {
    position: relative;
    height: 0;
    padding-top: 150%;
    overflow: hidden;
    background-color: $primary-light;
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-img {
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    max-width: 100%;
  }
}
