@import "../base/variables";

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 8rem;
  width: 100%;
  background-color: $primary-dark;
  border-top: 1px solid $primary-medium;
  z-index: 3000;

  @media (min-width: $breakpoint-laptop-m) {
    top: 0;
    right: unset;
    width: 9rem;
    height: 100%;
    border-top: none;
    border-right: 1px solid $primary-medium;
  }

  &-nav {
    height: 100%;
    width: 100%;
  }

  &-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media (min-width: $breakpoint-laptop-m) {
      display: block;
    }
  }

  &-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-laptop-m) {
      height: 9rem;
    }
  }

  &-link {
    padding: 0.5rem;
  }

  &-link svg {
    height: 3.2rem;
    width: 3.2rem;
    fill: $primary-light;
    transition: fill 100ms ease;
  }

  &-link--active svg {
    fill: $brand-primary;
    transition: fill 100ms ease;
  }
}
