@import "../base/variables";

.spinner {
  position: relative;
  width: 5rem;
  height: 5rem;

  &-circle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    border: 10px solid $primary-light;
    border-top: 10px solid $brand-primary;
    border-radius: 50%;
  }
}
