// variables
$primary-dark: #0c0f18;
$primary-medium: #131823;
$primary-light: #1c222e;
$text-primary: #ffffff;
$text-secondary: #949cb0;
$brand-primary: #24baef;

// media breakpoints
$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-l: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop-m: 1024px;
$breakpoint-laptop-l: 1440px;
$breakpoint-desktop: 2560px;
