@import "../base/variables";

// .loading {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 8rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @media (min-width: $breakpoint-laptop-m) {
//     bottom: 0;
//     left: 9rem;
//   }
// }

@import "../base/variables";

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-laptop-m) {
    bottom: 0;
    left: 9rem;
  }

  &-spinner {
    padding: 2.6rem;

    @media (min-width: $breakpoint-laptop-m) {
      padding: 3.6rem;
    }
  }
}
