.App {
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .App {
    padding-left: 9rem;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    padding-left: 9.6rem;
  }
}
