.Loading {
  min-height: 100vh;
  position: relative;
  // background-color: coral;

  &-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
  }
}
