.Banner {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-dark);

  &-backdrop {
    height: 40rem;
    background-color: var(--bg-primary-dark);
    position: relative;

    .lazy {
      height: 100%;
    }

    &-img {
      display: inline-block;
      height: 100%;
      width: 100%;
      max-width: none;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60%;
      z-index: 1000;
      background: linear-gradient(
        0deg,
        var(--bg-primary-dark) 0%,
        transparent 100%
      );
    }
  }

  &-meta {
    padding: 1.8rem;
  }
}

@media screen and (min-width: 1026px) {
  .Banner {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 40%;

    &-backdrop {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 75%;

      &::after {
        top: 0;
        bottom: 0;
        left: 0;
        right: unset;
        height: 100%;
        width: 70%;
        background: linear-gradient(
          90deg,
          var(--bg-primary-dark) 0%,
          transparent 100%
        );
      }
    }

    &-meta {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
      z-index: 2000;
      display: flex;
      align-items: center;
    }
  }
}
