*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --bg-primary-dark: #0c0f18;
  --bg-primary-light: #131823;
  --bg-accent: #1c222e;
  --text-primary: #ffffff;
  --accent-white: #ffffff;
  --brand-primary: #fd3a84;
  --brand-secondary: #ffa68d;

  --mobile-small: 320px;
  --mobile-medium: 375px;
  --mobile-large: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --laptop-large: 1440px;
  --desktop: 2560px;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, sans-serif;
  font-size: 1.6rem;
  color: var(--text-primary);
  background-color: var(--bg-primary-light);
}
